/* 
////// For this challenge ///////

- All text is in the JS section
  this pen
- Use this code for the image
  (not the same image!)
  <img src="https://unsplash.it/386/292" alt="">

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.col {
  width: 100%;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text,
.primary {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.main-container {
  padding: 3rem 0;
}

.primary h2 {
  color: #87629a;
}

.sidebar {
  width: 32%;
  background-color: #136c72;
  color: white;
  text-align: center;
}

.card {
  padding: 1em;
}
