@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}

.accent__h {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
  color: #824936;
}

.pad {
  padding: 2rem;
}

img {
  max-width: 100%;
}

.hero {
  background-color: #f3eed9;
  text-align: center;
}

/* reusable main container*/
.container {
  max-width: 1128px;
  margin: 0 auto;
}

/* reusable flex row container */
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* class to change widths and heights */
.hero__container {
  width: 50%;
  min-height: 100vh;
}

.hero__text {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero__heading {
  font-size: 60px;
  margin: 0;
}

/* class to change widths and heights */
.secondary__container,
.pic__container {
  min-height: 330px;
  width: 75%;
}

.secondary__inner {
  display: flex;
  font-size: 21px;
  gap: 1rem;
}

.secondary__heading {
  font-size: 36px;
}

.pic {
  background-color: #222c2a;
  color: white;
}

/* reusable flex column container */
.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pic__text {
  align-self: flex-start;
}

.pic__heading {
  color: #f3eed9;
  font-size: 36px;
}

.pic__p {
  max-width: 90%;
  font-size: 21px;
}

.second-pic {
  background-color: #824936;
  color: white;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.pic__p2 {
  font-size: 21px;
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column;
  }
}
