@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.1;
}

h1,
h2 {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
}

p {
  margin-top: 1.5rem;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  background-color: #f3eed9;
  height: 100vh;
  text-align: center;
  padding: 0 1.5rem;
}

.intro p {
  text-transform: uppercase;
}

.intro__container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__text {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.intro__header {
  font-size: 60px;
  margin: 0;
}

section {
  padding: 4rem 0;
}

.section__header {
  font-size: 36px;
}

.section-two .section__header {
  text-align: center;
}

.dark {
  color: #824936;
}

.light {
  color: #f3eed9;
}

.section-three {
  background-color: #222c2a;
  color: #fff;
}

.section-four {
  background-color: #824936;
  color: #fff;
}

@media (min-width: 900px) {
  .row {
    flex-direction: row;
    gap: 2rem;
  }
  .col {
    width: 100%;
  }
}
