@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.accent {
  color: #a59678;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

header {
  background-color: #2e323f;
  padding: 0.5em 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.nav__item {
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover,
.nav__link:focus {
  filter: brightness(0.7);
}

.button {
  background-color: #a59678;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.logo {
  height: 30px;
}

section {
  padding: 5rem 0;
}

.hero {
  background-color: #3b4050;
}

.hero__header {
  font-size: 90px;
}

.hero__para {
  font-size: 24px;
}

.hero__button {
  font-size: 24px;
  outline: none;
  border: none;
  color: inherit;
  text-transform: uppercase;
}

.second-section {
  background-color: rgb(234, 234, 234);
  text-align: center;
}

.second-section h2 {
  font-size: 30px;
}

.second-section p {
  font-size: 18px;
  color: #3b4050;
  width: 80%;
  margin: 0 auto;
}

.second-section .col {
  margin-bottom: 2rem;
}

.third-section h2 {
  font-size: 30px;
}

.left-p {
  color: #3b4050;
  font-size: 21px;
}

.card {
  background-color: #3b4050;
  color: #fff;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.text {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.right-p {
  font-size: 18px;
}

.cta {
  background-color: #3b4050;
  font-size: 16px;
}

.cta-header {
  font-size: 40px;
  text-align: center;
}

.cta h2 {
  font-size: 21px;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    margin-top: 0;
    flex-direction: row;
    position: relative;
    gap: 0;
    width: 70%;
  }

  .nav__list {
    flex-direction: row;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    align-self: center;
  }

  .hero__text {
    align-items: flex-end;
  }

  .col {
    width: 100%;
  }

  .second-section .col {
    margin-bottom: 0;
  }

  .left {
    width: 62%;
  }

  .right {
    width: 32%;
  }

  .cta > .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta > .container {
    width: 100%;
    padding: 0 2rem;
  }

  .cta-links {
    gap: 1rem;
  }
  .about {
    width: 80%;
  }

  .links {
    width: 40%;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .right {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .third-section > .container {
    flex-direction: column;
    gap: 1rem;
  }

  .text {
    width: 100%;
  }

  .left,
  .right {
    width: 100%;
  }
}
