*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

header {
  background-color: #2e323f;
  padding: 0.5em 0;
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.nav__item {
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__link:hover,
.nav__link:focus {
  filter: brightness(0.7);
}

.nav__item.button {
  background-color: #a59678;
  padding: 0.2rem 1.5rem;
  border-radius: 2rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.logo {
  height: 30px;
  padding-left: 1rem;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    margin-top: 0;
    flex-direction: row;
    position: relative;
    gap: 0;
    width: 70%;
  }

  .nav__list {
    flex-direction: row;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
