@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

.hero {
  background: #23424a;
  color: white;
  padding: 3rem 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text {
  width: 60%;
}

p {
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: #23424a;
  text-transform: uppercase;
  background-color: #38cfd9;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  letter-spacing: 0.05rem;
}
